<html>
    <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
          <h2>Search Host</h2>
        </head>
        <body>
            <form action="/host" method="POST", method='GET'>

            <p>Host address &nbsp<input type="text" placeholder="Host address" name="ip_addr" value="{{ ip_addr }}"></p>
            <p>Hostname &nbsp<input type="text" placeholder="Hostname" name="name" value="{{ name }}"></p>

            <input type="submit" class="btn btn-primary" value="Submit">
            <p></p>
                
            

            {% for output_list_element in output_list %}
            <p>
                {% autoescape false %}
                {{ output_list_element }}
                {% endautoescape %}
            </p>
            {% endfor %}

            </form>
        </body>
</html>

